$fontfamilyInter: 'Inter', sans-serif !default;
$fontfamilyRoboto:'Roboto', sans-serif ;
$colors:(
"transparent":transparent,
"primary": #007bff,
"secondary":#6c757d,
"success":#28a745,
"danger":#dc3545,
"info":#17a2b8,
"muted":#6c757d
)
